[Unit]
Description=Quotas Notifier
Wants=quotas_usage.timer
OnFailure=notify_onFailure@%i.service

[Service]
Type=oneshot
WorkingDirectory=%h/blackpearrl/scripts
EnvironmentFile=%h/blackpearrl/.env
ExecStart=%h/.local/bin/pipenv run python3 quotas_notifier/quotas_notifier.py

[Install]
WantedBy=multi-user.target
