[Unit]
Description=Plex Auto Languages
After=network.target
OnFailure=notify_onFailure@%i.service

[Service]
WorkingDirectory=%h/blackpearrl/Plex_Auto_Languages
EnvironmentFile=%h/blackpearrl/.env
ExecStart=%h/.local/bin/pipenv run python3 Plex_Auto_Languages/main.py -c config.yaml
Restart=always

[Install]
WantedBy=multi-user.target
