[Unit]
Description=Plex Auto Languages
After=network.target
OnFailure=notify_onfailure@%i.service

[Service]
WorkingDirectory=~/blackpearrl/Plex_Auto_Languages
EnvironmentFile=~/blackpearrl/.env
ExecStart=/usr/local/bin/pipenv run python3 Plex_Auto_Languages/main.py -c config.yaml
User=siffreinsg
Group=siffreinsg
Restart=always

[Install]
WantedBy=multi-user.target
