SERVER_NAME='Black Pearl'

# Tautulli API
TAUTULLI_URL='https://tautulli.local/'
TAUTULLI_API_KEY='somekey'
TAUTULLI_NOTIFIER_ID=2

# PLEX settings
PLEX_URL="http://plex.local:32400"
PLEX_TOKEN="anotherkey"
PLEX_SERVER_NAME="Black Pearl"

PLEX_CLEANUP_EXCEPTIONS=Leaving Soon - Movies,Leaving Soon - 4K Movies,Leaving Soon - TV Shows

# GitHub API
GITHUB_TOKEN="wowatoken"

# Apps config location
# Defaults to ~/.config if not set
APP_CONFIG_PATH='/home/user/blackpearrl/scripts'

# Disk Usage Notifier
DISK_USAGE_PATH='/home/user/media'
DISK_USAGE_THRESHOLD_GB=1000

# qBittorrent
QBIT_BASE="https://qbittorrent.local/"
QBT_HOST="https://qbittorrent.local/"
QBT_USER=""
QBT_PASS=""

# qBittorrent Manage webhooks
QBM_WEBHOOK_ERROR=
QBM_WEBHOOK_RUN_START=
QBM_WEBHOOK_RUN_END=
QBM_WEBHOOK_RECHECK=
QBM_WEBHOOK_CAT_UPDATE=
QBM_WEBHOOK_TAG_UPDATE=
QBM_WEBHOOK_REM_UNREGISTERED=
QBM_WEBHOOK_TAG_TRACKER_ERROR=
QBM_WEBHOOK_REM_ORPHANED=
QBM_WEBHOOK_TAG_NOHARDLINKS=
QBM_WEBHOOK_SHARE_LIMITS=
QBM_WEBHOOK_CLEANUP_DIRS=
