[Unit]
Description=qBit Manage
After=network.target
OnFailure=notify_onFailure@%i.service

[Service]
Type=oneshot
WorkingDirectory=%h/blackpearrl/qbit_manage
EnvironmentFile=%h/blackpearrl/.env
ExecStart=%h/.local/bin/pipenv run python3 qbit_manage/qbit_manage.py --config-file="config.yaml" --run

[Install]
WantedBy=multi-user.target
