[Unit]
Description=qBit Manage Timer
Requires=qbit_manage.service

[Timer]
Unit=qbit_manage.service
OnCalendar=hourly
RandomizedDelaySec=50min
AccuracySec=30min
Persistent=true

[Install]
WantedBy=timers.target
