[Unit]
Description=Version Notifier
Wants=version_notifier.timer
OnFailure=notify_onfailure@%i.service

[Service]
Type=oneshot
WorkingDirectory=%h/blackpearrl/scripts
EnvironmentFile=%h/blackpearrl/.env
ExecStart=%h/.local/bin/pipenv run python3 version_notifier/version_notifier.py

[Install]
WantedBy=multi-user.target
