[Unit]
Description=VueTorrent Backend
After=network.target
OnFailure=notify_onFailure@%i.service

[Service]
WorkingDirectory=%h/blackpearrl/VueTorrent/vuetorrent-backend
EnvironmentFile=%h/blackpearrl/.env
Environment=PORT=38356
Environment=NODE_VERSION=20
ExecStart=%h/.nvm/nvm-exec npm start
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
