plex:
  url: http://bing.bang.boing
  token: XXXXXXXXXXXXXXXXXXXX
  timeout: 60
  db_cache:
  clean_bundles: false
  empty_trash: false
  optimize: false
tmdb:
  apikey: XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
  language: en
